<div class="mb-4 border-b border-gray-200 bg-white p-3 dark:border-gray-800 dark:bg-white/[0.03]">
  <div class="flex items-center justify-between">
    <div>
      <p class="font-semibold text-gray-800 text-lg dark:text-white/90">All Entries</p>
      <span class="block text-gray-500 text-theme-xs dark:text-gray-400">
        View, search, filter, and manage all occurrence records.
      </span>
    </div>

    <div>
      <app-button
        className="w-full !py-2 text-theme-xs"
        size="sm"
        variant="primary"
        (btnClick)="onCreate()"
      >
        Create Entry
      </app-button>
    </div>
  </div>
</div>
